<h1>New profile</h1>

<%= error_messages_for :profile %>

<% form_for(@profile) do |f| %>
  <p>
    <b>First name</b><br />
    <%= f.text_field :first_name %>
  </p>

  <p>
    <b>Last name</b><br />
    <%= f.text_field :last_name %>
  </p>

  <p>
    <b>Dob</b><br />
    <%= f.datetime_select :dob %>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <b>Updated at</b><br />
    <%= f.datetime_select :updated_at %>
  </p>

  <p>
    <b>Zipcode</b><br />
    <%= f.text_field :zipcode %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', profiles_path %>
