<% if current_user.is_a?Parent %>
<%= render :partial => '/parents/nav_menu', :locals => {:selected => "inbox"} %>
<% else %>
<%= render :partial => '/sitters/nav_menu', :locals => {:selected => "inbox"} %>
<% end %>
<div id="sub_menu_gradient">
	<div class="sub_menu_gradient_center">
		<%= render :partial => 'inbox_menu' %>
	</div>
</div>
<div id="content">
<div >
	<%= error_messages_for 'message' %>

	<% form_for :message, :url => { :action => "send_message" } do |form| %>
		<%= hidden_field :message, :recipient_id, { :value => @recipient.id } %>
		<%= hidden_field_tag (params[:from_profile]) ? :from_profile : :from_messages, 1%>
		<fieldset class="cornerbox_34_grn-col" style="border-width: 0px;">
			<div style="font-size: 0.8em; font-weight: bold;line-height:20px;"><!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= (params[:message_id].nil? ? "New Message" : "Replying") %> To: &nbsp;<input type="text" value="<%=h(@recipient.email) %>" size="44" >--></div>
			<div class="content clearfix" style="font-size: 0.8em; margin-bottom: 50px;line-height:20px;">
				<!--<table >
					<tr>
						<td align=="right">
							<strong>&nbsp;Message From:</strong>
						</td>
						<td align=="left">
							&nbsp;<%= h(@sender.email) %> (you)
						</td>
					</tr>
				</table>-->
				<% unless @message_templates.nil? %>
					<script type="text/javascript">
						//<![CDATA[
							var message_backup = <%= @message.to_json %>;
							if (!message_backup)
							{
								message_backup = {subject: "", body: ""};
							}
							var message_templates = {};
							<% @message_templates.each {|message_template| %>
								message_templates[<%= message_template.id %>] = <%= message_template.to_json %>;
							<% } %>
							function insert_message_template(id)
							{
								var subject = message_backup.subject;
								var body = message_backup.body;
								if (message_templates[id])
								{
									subject = message_templates[id].subject;
									body = message_templates[id].body
								}
								$('message_subject').value = subject;
								$('message_body').value = body + "\n\n" +  message_backup.body;
							}
						//]]>
					</script>
					<dl class="clearfix">
						<dt>
							<label for="message_subject">
								Saved Messages:
							</label>
						</dt>
						<dd>
							<% if @message_templates.size > 0 %>
								<%= select_tag(:message_template_id, options_for_select([nil] + @message_templates.map {|mt| [mt.name, mt.id]}), :id => 'message_template_id') %>
								<%= observe_field :message_template_id, :function => "insert_message_template(value);" %>
								[<%= link_to("Edit Saved Messages", :controller => :message, :action => :templates) %>]
						    <% else %>
							    <%= link_to("Add a Saved Message", :controller => :message, :action => :template_form) %>
							<% end %>
						</dd>
					</dl>
				<% end %>
				<table class="clearfix" border="1" cellpadding="2" cellspacing="4" >
					<tr>
						<td align="right">
							<strong><%= (params[:message_id].nil? ? "New Message" : "Replying") %> To :</strong>
						</td>
						<td align=="left">
							<input type="text" value="<%=h(@recipient.email) %>" size="42" > 
						</td>
					</tr>
					<tr>
						<td  width="120px;" align="right">
							<strong>Message From :</strong>
						</td>
						<td align="left">
							<%= h(@sender.email) %> (you)
						</td>
					</tr>
					
					<tr>
						<td width="105px;" align="right"><label for="message_subject">
							<strong>Subject :</strong>
						</label></td>
						<td>
							<%= text_field :message, :subject,:style => "margin-top: 5px;width: 358px;" %>
						</td>
					</tr>
					<tr><td align="right" valign="top"><strong>Message:</strong></td><td><%= text_area(:message, :body, :style => "margin-top: 5px;width: 353px;")%></td></tr>
					<tr>
						<td></td>
						<td align="center">
							<%= submit_tag "Send" %>
						</td>
					</tr>
				</table>
			</div>
		</fieldset>
	<% end %>
</div>
</div>
<script type="text/javascript">
	//<![CDATA[
	    LiveValidation.onValid = void(0);
		subject_length = new LiveValidation('message_subject',{validMessage:'', onlyOnSubmit: true});
		subject_length.add(Validate.Length,{ minimum: 1,tooShortMessage:"Subject could not be empty"});
		
		body_length = new LiveValidation('message_body',{validMessage:'', onlyOnSubmit: true});
		body_length.add(Validate.Length,{ minimum: 10, maximum: 2000, tooLongMessage:"Must be 2000 characters or less.", tooShortMessage:"Must be at least 10 characters"});
	//]]>
</script>