<h1>New zip_code</h1>

<%= error_messages_for :zip_code %>

<% form_for(@zip_code) do |f| %>
  <p>
    <b>Country code</b><br />
    <%= f.text_field :country_code %>
  </p>

  <p>
    <b>Postal code</b><br />
    <%= f.text_field :postal_code %>
  </p>

  <p>
    <b>Latitude</b><br />
    <%= f.text_field :latitude %>
  </p>

  <p>
    <b>Longitude</b><br />
    <%= f.text_field :longitude %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', zip_codes_path %>
