<h1>Editing job</h1>

<%= error_messages_for :job %>

<% form_for(@job) do |f| %>
  <p>
    <b>Parent</b><br />
    <%= f.text_field :parent_id %>
  </p>

  <p>
    <b>Sitter</b><br />
    <%= f.text_field :sitter_id %>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <b>Updated at</b><br />
    <%= f.datetime_select :updated_at %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
