<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Sitter</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Description</th>
  </tr>

<% for job in @jobs %>
  <tr>
    <td><%=h job.parent_id %></td>
    <td><%=h job.sitter_id %></td>
    <td><%=h job.created_at %></td>
    <td><%=h job.updated_at %></td>
    <td><%=h job.description %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>
