<table width="200px;" style="font-size:0.8em">
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td align="left"><b>Requests</b></td>
					<td align="right"><%= link_to "See All" ,connection_requests_parent_path(current_user)%></td>
				</tr>
				<tr><td colspan="2"><hr/></td></tr>
				<% sitter_count= 0 %> <% friend_count = 0%>
				<%unless @unconfirmed_friends.nil? %>
					<% @unconfirmed_friends.each do |f| %>
						<% unless f.friend.profile.nil? %>
							<% if f.friend.profile.parent? %>
								<% friend_count = friend_count+1%>
							<%else%>
								<% sitter_count = sitter_count+1%>
							<%end%>
						<%end%>
					<%end%>
				<%end%>
				<% suggest = @sitters_suggest.size%>
				<tr><td><%= suggest %>&nbsp;<%= link_to "Suggested Sitter(s)", url_for(:controller => 'connections', :action => 'suggests'), :class => "lbOn-400-500" %></td></tr>
				<tr>
					<td><%= friend_count %>&nbsp;<%= link_to "Friend Request(s)" ,connection_requests_parent_path(current_user)%></td>
				</tr>
				<tr>
					<td><%= sitter_count %>&nbsp;<%= link_to "Sitter Connection Request(s)" ,connection_requests_parent_path(current_user)%></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td align="left" width="50%"><b>Suggestions</b></td>
					<td align="right"><%= link_to "See All", url_for(:controller => 'connections', :action => 'suggests'), :class => "lbOn-400-500" %></td>
				</tr>
				<tr><td colspan="2"><hr/></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						<% i = 0 %>
						<% for suggest in @sitters_suggest %>
							<%unless suggest.nil?%>
								<%if i < 2 %>
									<%= render :partial => '/shared/suggestion', :locals => {:suggest  => suggest} %>
									<% i=i+1 %>
								<%end%>
							<%end%>
						<% end %>
					</td>
				</tr>
			</table>			
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			
			<fb:fan profile_id="50170270934" stream="0" connections=10></fb:fan>
							
		</td>
	</tr>
</table>
<script type="text/javascript">
	initialize();
</script>
