<%= render :partial => 'nav_menu', :locals => {:selected => "invite"} %>

<div id="sub_menu_gradient">
</div>
<div id="content" style="height: 500px;">

	<div class="parent_content" >
			<span style=" font-size: .8em; font-weight: bold">Invite Your Friends & Sitters</span>
			<br /><br />
			<p style=" font-size: .8em; width: 85%;">With SitterScout it’s the more, the merrier.  The more families you have on SitterScout, the more jobs you can get.
			</p>
			<br />
			
			<% form_tag send_invitations_sitter_path(current_user) do %>
				<div id="invitations-container">
					<%= render :partial => 'invitations_form' %>
				</div>
				<br /><br />
				<p style=" font-size: .7em; margin-bottom: 5px">
				<%= check_box_tag "custom_message", true %> Check this box to add a custom message.</p>
				<%= text_area_tag "invitation_body", "", :style => "width: 600px; height: 50px;" %>
				<br /><br />
				<input type="submit" name="check_values" id="profile_submit" style="display: none;">
		<% end %>
		
	</div>
	<center>
		<div style="clear: both; " onclick="check();">
			<%= image_submit_tag "/images/parent_home/Submit_bttn.gif", :name => 'check_values' %>
		</div>
	</center>
</div>

<script type="text/javascript" >

	function check()
	{
		$('flash_notice').innerHTML = '';
	
		var fail = false;
		
		if($('invitation_invite_0_email_address').value != '')
		{
			fail = true;
		}
		else if ($('invitation_invite_1_email_address').value != '') {
			fail = true;
		}
		else if ($('invitation_invite_2_email_address').value != '') {
			  	fail = true;
		}
		else if ($('invitation_invite_3_email_address').value != '') {
			fail = true;
		}	 
		else if ($('invitation_invite_4_email_address').value != '') {
			fail = true;
		}
		
		if(!fail)
		{
			$('flash_notice').innerHTML = '<div id="notice_error">Please enter the Email Address</div>';
			path_to_root_dir = "<%= APP_URL %>/";
			var myBox = new GlassBox();
			myBox.init( 'notice_error', '360px', '100px', 'hidden', 'facebookstyle', true, true );
			myBox.lbo( false, 0.01 ); 
			myBox.appear(5000);
			
		}
		else
		{
			$('profile_submit').click();
		}
	}
</script>

<% #= render :partial => 'shared/profile_percentage' %>



