
<div id="content" style="height: 700px;">
<strong style='font-size: 1.5em;'>Thank You for joining the SitterScout Community</strong>
<br /><br />
	<span style="font-weight: bolder;">Invite Your Friends & the Families You Babysit For</span>
<br />
	<div style="font-size: .9em;">With SitterScout it’s the more, the merrier.  The more families you have on SitterScout, the more jobs you can get.</div>
<br />	
<% form_tag send_invitations_sitter_path(current_user) do |form| %>
<div id="invitations-container">
	<% 5.times do |i| %>

	<% input_name_prefix = "invitation[invite_#{i.to_s}]" %>
	<% input_id_prefix = "invitation_invite_#{i.to_s}"%>

	<div id="invitations-<%= i %>-container" class="invitations-container">
		<label for="<%= input_id_prefix  %>_number" style="font-size: .7em;">Name:</label>
		<input type="text" name="<%= input_name_prefix %>[name]" id="<%= input_id_prefix %>_name" size="20" <%#= "value=\"#{form.name}\"" if form %> />
	&nbsp;&nbsp;&nbsp;
		<label for="<%= input_id_prefix %>_email_address" style="font-size: .7em;">Email Address:</label>
		<input type="text" name="<%= input_name_prefix %>[email_address]" id="<%= input_id_prefix %>_email_address" size="20" <%#= "value=\"#{form.email}\"" if form %> />
	&nbsp;&nbsp;&nbsp;
	<%= radio_button_tag "#{input_name_prefix}[friendsitters]", "friends",true %><font style="font-size: .7em;"> Parent</font>&nbsp;&nbsp;&nbsp;<%= radio_button_tag "#{input_name_prefix}[friendsitters]", "sitters",true  %><font style="font-size: .7em;"> Sitter</font>
	
	</div>
	<% end %>


</div>
<br />
<p style=" font-size: .8em; margin-bottom: 5px">
<%= check_box_tag "invitations_box", true %> Check this box to add a custom message.</p>
<%= text_area(:invitations, :body, :size => "80x15", :text => "default") %>
	<br /><br />
	<input type="submit" name="check_values" id="profile_submit" style="display: none;">
<% end %>
<center>
<table align="left" style="margin-left:30%">
<div style="padding-left: 20%;" >
	<tr>
		<td>
			<%= link_to(image_tag('/images/Wizard/Previous_bttn.gif', :border => 0), your_friends_sitter_path(current_user)) %>&nbsp;
		</td>
		<td>
			<%= image_submit_tag "/images/parent_home/Submit_bttn.gif", :name => 'check_values',  :onclick=>'check();' %>&nbsp;
		</td>
		<td>
			<% form_tag send_invitations_sitter_path(current_user) do |form| %>
			<%= submit_tag "Skip" %>
			<% end %>
		</td>
	</tr>
</div>
</table>
</center>
</div>

<script type="text/javascript" >

	function check() {
		
		var email_0_val=document.getElementById('invitation_invite_0_email_address').value;
		var email_1_val=document.getElementById('invitation_invite_1_email_address').value;
		var email_2_val=document.getElementById('invitation_invite_2_email_address').value;
		var email_3_val=document.getElementById('invitation_invite_3_email_address').value;
		var email_4_val=document.getElementById('invitation_invite_4_email_address').value;
		
		$('flash_notice').innerHTML = '';
		var EMAIL_REGEX = /^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i;
		
		
		
		var fail = false;
		
		if($('invitation_invite_0_email_address').value != '')
		{
			myNumber = new String(email_0_val);
			email_value = EMAIL_REGEX.test(myNumber);
			if(!email_value){
				fail=false;
			}else{
			fail = true;	
			}
		}
		else if ($('invitation_invite_1_email_address').value != '') {
			myNumber = new String(email_1_val);
			email_value = EMAIL_REGEX.test(myNumber);
			if(!email_value){
				fail=false;
			}else{
			fail = true;	
			}
		}
		else if ($('invitation_invite_2_email_address').value != '') {
			myNumber = new String(email_2_val);
			email_value = EMAIL_REGEX.test(myNumber);
			if(!email_value){
				fail=false;
			}else{
			fail = true;	
			}
		}
		else if ($('invitation_invite_3_email_address').value != '') {
			myNumber = new String(email_3_val);
			email_value = EMAIL_REGEX.test(myNumber);
			if(!email_value){
				fail=false;
			}else{
			fail = true;	
			}
		}	 
		else if ($('invitation_invite_4_email_address').value != '') {
			myNumber = new String(email_4_val);
			email_value = EMAIL_REGEX.test(myNumber);
			if(!email_value){
				fail=false;
			}else{
			fail = true;	
			}
		}
		
		if(!fail)
		{
			$('flash_notice').innerHTML = '<div id="notice_error">Please enter the valid Email Address</div>';
			path_to_root_dir = "<%= APP_URL %>/";
			var myBox = new GlassBox();
			myBox.init( 'notice_error', '360px', '100px', 'hidden', 'facebookstyle', true, true );
			myBox.lbo( false, 0.01 ); 
			myBox.appear(5000);
			
		}
		else
		{
			$('profile_submit').click();
		}
		
	}
</script>

