<%= render :partial => 'nav_menu',  :locals => {:selected => "profile"} %>
<div id="sub_menu_gradient">
	<div class="sub_menu_gradient_center">
		<%= render :partial => 'profile_menu' %>
	</div>
	
<div>

<div id="content" style="height: 300px;">	
	<div class='box alt first_alt'>
	 <%form_for :profdel, :url => {:controller => "sitters" , :action => "delete_profile" ,:id=> current_user.id} do |f|%>
		<strong>Manage your membership</strong>
		<div style="margin-left:50px;margin-top:15px;font-size:12pt;">
			<table>
				<% if current_user.active %>
					<tr>
						<td><%= f.radio_button :manage, "active" ,:checked=> true%></td>
						<td>Reactive my membership</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td>&nbsp;&nbsp;</td>
						<td>Your profile will not be displayed in search results and you will able to receive babysitting requests.</td>
					</tr>
				<%else%>
					<tr>
						<td><%= f.radio_button :manage, "inactive" ,:checked=> true%></td>
						<td>Inactive my membership</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td>&nbsp;&nbsp;</td>
						<td>Your profile will not be displayed in search results and you will not receive babysitting requests. You may reactiveate your membership at any time.</td>
					</tr>
				<%end%>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td><%= f.radio_button :manage, "cancel" %></td>
					<td>Cancel my membership</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>&nbsp;&nbsp;</td>
					<td>Your information will be removed from our database.</td>
				</tr>
			</table>
			
		</div>
		<div style="cursor: pointer;">
			<%= image_submit_tag '/images/parent_home/SaveChanges_bttn.gif', :style=> "margin: 10px 0 0 275px;" %>
		</div>
		<% end %>
		
		
	</div>
</div>
	
<% #= render :partial => 'shared/profile_percentage' %>	



