<div class="view_prof" style="height:500px;">
	<div style="height:10px">
		</div>
<div id="content" style="height: auto;">

<div class="div_border">
	<table height="100%">
		<tr>
			<td valign="top" width="130" height="150">
				<%= image_tag(@user.avatar_photo_url(:large), :class => "right" ,:height=> 150 ,:width=> 130) %>
			<td>&nbsp;</td>
			<td valign="top">
				<table border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<strong>
								<font class="username_heading">
								<%= @profile.first_name + " " + @profile.last_name %><br/>
								</font>
								</strong>
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="profile_border1" style="width:600px;background-color: rgb(255, 255, 255);">
								<table width="60%">
									<tr>
										<td><strong>Profile Tags:</strong></td>
										<td><%= @profile.tag_list %></td>
									</tr>
							</table>
							</div>
							<div class="profile_border2" style="width:600px;background-color: rgb(255, 255, 255);">
								<table>
									<tr>
										<td><strong>Number of children:</strong></td>
										<td><%= @user.childs.size %></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
									</tr>
									<%if @user.childs.size > 0%>
									<tr>
										<td>
											<strong>Children:</strong>
										</td>
										<td>
											<strong>Age:</strong>
										</td>
									</tr>
									<%@user.childs.each do |child|%>
										<tr>
											<td>
												<ul style="padding-left:12px;">
													<li ><%=child.name%></li>
												</ul>
											</td>
											<td>
												<%=Date.today.year - child.age.year%>
											</td>
										</tr>
									<%end%>
									<%end%>	
									<tr>
										<td>
											&nbsp;
										</td>
									</tr>
									<tr>
										<td>
											<label class="small_link">
												<%= link_to "< Back to \"Your Search\"", referring_url %>
											</label>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
</div>
<div style="top: 450px; position: absolute; margin-left: 18%; color: #8F8F8F;  font-size: 10pt; width: 960px; height:auto;">
</div>
</div>											
									