<%= javascript_include_tag 'quicksilver' %>
<%= javascript_include_tag 'select_autocompleter' %>
<%= render :partial => 'nav_menu', :locals => {:selected => "inbox"} %>

	<div id="sub_menu_gradient">
		<div class="sub_menu_gradient_center">
		<%= render :partial => 'inbox_menu'%>
		</div>
	</div>

	<div id="content" style="height: 485px;">
		<%= render :partial => '/shared/shared_compose' %>
		<div style="position: absolute; margin-left: 675px;top: 330px;">
		<%= render :partial => '/shared/share_a_sale' %>	
		</div>			
	</div>
	
</div>
