<div id="content" style="height:300px;">
	<div class="div_border">
		<table height="100%">
		<tr>
			<td valign="top">
				<%= image_tag(@user.avatar_photo_url(:large), :class => "right" ,:height=> 150 ,:width=> 130) %>			
			</td>
			<td>&nbsp;</td>
			<td valign="top">
				<table border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<strong>
								<font class="username_heading">
									<%unless @profile.first_name.nil? and @profile.last_name.nil?%>
									<%= @profile.first_name + " " + @profile.last_name %>
									<%end%>
								</font></strong><br/>
								<%unless @profile.address1.nil?%>
									<%= @profile.address1%>&nbsp;
								<%end%>
								<%unless @profile.address2.empty?%>
									<%= @profile.address2%>
								<%end%>
								<br/>
								<%unless @profile.city.nil?%>
									<%= @profile.city %>,
								<%end%>
								<%unless @profile.state_id.nil?%> 
									<%= State.find(@profile.state_id).name %>  
								<%end%>
								<%unless @profile.zipcode.nil?%>
									<%=@profile.zipcode.to_s %><br/>
								<%end%>			
						</td>
						<td valign="top" align="right">
							<label class="small_link">
								<%if current_user.connected?(@user) %>
								<%= link_to "View Connections", url_for(:controller => 'connections', :action => 'show', :id => @user.id), :class => "lbOn-405-390" %> |
								<% end %>
								<%= link_to "Send message", compose_parent_path(current_user) %>
							</label>
							
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="profile_border1" style="width:600px;background-color: rgb(255, 255, 255);">
								<table width="60%">
									<tr>
										<td><strong>Profile Tags:</strong></td>
										<td><%= @profile.tag_list %>
									</tr>
									<%unless @profile.address1.nil? or @profile.address2.nil? or @profile.city.nil?%>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td><strong><%= label :profile, :email, "Email Address:" %></strong></td>
											<td><%= @user.email %></td>
										</tr>
								        <tr>
								        	<td><strong><%= label :profile, :daytime_phone, "Daytime Phone #:" %></strong></td>
											<td><%= @profile.datetime_phone %></td>
										</tr>
								        <tr>
								        	<td><strong><%= label :profile, :evening_phone, "Evening Phone #:" %></strong></td>
											<td><%= @profile.evening_phone %></td>
										</tr>
								        <tr>
								        	<td><strong><%= label :profile, :cell_phone, "Cell Phone #:" %></strong></td>
											<td><%= @profile.cell_phone %></td>
										</tr>
									<%end%>
								</table>
							</div>
							<div class="profile_border2" style="width:600px;background-color: rgb(255, 255, 255);">
								<table>
									<tr>
										<td><strong>Number of children:</strong></td>
										<td><%= @user.childs.size %></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
									</tr>
									<%if @user.childs.size > 0%>
									<tr>
										<td>
											<strong>Children:</strong>
										</td>
										<td>
											<strong>Age:</strong>
										</td>
									</tr>
									<%@user.childs.each do |child|%>
										<tr>
											<td>
												<ul style="padding-left:12px;">
													<li ><%=child.name%></li>
												</ul>
											</td>
											<td>
												<%=Date.today.year - child.age.year%>
											</td>
										</tr>
									<%end%>
									<%end%>	
									<tr>
										<td>
											&nbsp;
										</td>
									</tr>
									<tr>
										<td>
											<label class="small_link">
												<%=link_to '< Back to "Your Search"',referring_url %>
											</label>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</div>
</div>