<div id='navbars' <%= current_page?(:controller => "home", :action => "index") ? "class='home'" : nil %>
			<%= current_page?(:controller => 'home', :action => "how_it_works") ? "class='works'" : nil %>
			<%= current_page?(:controller => "home", :action => "about_us") ? "class='about'" : nil %>
			<%= current_page?(:controller => "home", :action => "faq") ? "class='faq'" : nil %>>
			<ul id='globalnav'>
				<li id="home" <%= current_page?(:controller => "parents", :action => "index") ? "class='selected'" : nil %>><%= link_to("home", home_page_path) %></li>
				<li id="works"><%= link_to("works", how_it_works_path) %></li>
				<li id="about"><%= link_to("about", about_us_path) %></li>
				<li id="faq"><%= link_to("faq", :controller => 'home', :action => 'faq') %></li>
			</ul>	
		</div>